<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing The Internet App Suite">
	<test name="Regression-1">
		<classes>
			<class name="Tests.AddElementsTest" />
			<class name="Tests.BasicAuthTest" />
			<class name="Tests.CheckboxTest" />
			<class name="Tests.DragAndDropTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
